@import "_normalize";
@import "_variables";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $oceanblue;
    font-family: $robotFont;
    height: 100vh;
    display: flex;
}

.glass {
    width: 100%;
    max-width: 375px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__area {
        position: relative;
        min-height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__button {
        padding-right: 40px;
        padding-left: 40px;
        height: 47px;
        border: none;
        &--add {
            margin-bottom: 24px;
            background: $white;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
            &:hover {
                border: $lightblue 2px solid;
            }
            &:focus {
                border: $lightblue 2px solid;
            }
        }
        
        &--remove {
            background: $oceanblue;
            color: $lightgrey;
            font-size: 14px;
            &:hover {
                text-decoration: $lightblue;
            }
        }
    }
    &__counter {
        font-size: 112px;
        text-align: center;
        font-weight: 500;
        line-height: 131px;
        padding-top: 72px;
    }
    &__img {
        position: absolute;
        z-index: -1;
    }
}

.navigation {
    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    &__item {
        display: block;
        margin: 0 16px;
        @media (max-width: $telephone) {
            margin: 16px;
        }
    }
    &__link {
        color: $oceanblue;
        text-decoration: none;
        &:hover {
            color: $orange;
            border-bottom: $hoverStyleLink;
        }
    }
    &__switcher {
        @media (min-width: $telephone) {
            display: none;
        }
        @media (max-width: $telephone) {
            border: none;
            background: none;
            position: absolute;
            right: 16px;
            top: 16px;
            color: $white;
        }
    }
}

.site-header {
    background: $white;
    box-sizing: border-box;
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    @media (max-width: $telephone) {
        min-height: 24px;
        max-height: 72px;
    }
}