@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $oceanblue;
  font-family: $robotFont;
  height: 100vh;
  min-width: 375px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  max-width: 280px;
  margin: 0px auto;
  display: grid;
  grid-template-areas: "glass"
   "add" 
   "remove";
  grid-column: 0.5r 0.3fr 0.2fr;
  grid-gap: 32px;

  &__area {
    grid-area: glass;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    padding-right: 40px;
    padding-left: 40px;
    height: 47px;
    border: none;

    &--add {
      grid-area: add;
      background: $white;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        border: $lightblue 2px solid;
      }
      &:focus {
        border: $lightblue 2px solid;
      }
    }

    &__counter {
      position: absolute;
    }

    &--remove {
      grid-area: remove;
      background: $oceanblue;
      color: $lightgrey;
      font-size: 14px;
      &:hover {
        text-decoration: $lightblue;
      }
      
    }
  }

  &__counter {
    font-size:112px;
    text-align: center;
    font-weight:500;
    line-height: 131px;
    padding-top:72px;
  }

  &__img {
    position: absolute;
    z-index: -1;
  }

  

}